body
{
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}
h1
{
  color: yellowgreen; 
  text-align: center;
}


.cycles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  background-color: white;
  width: 300px;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
}

.profile-img {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
}

.navbar {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  text-decoration: underline;
}

